// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/reset";

// External libraries
@import "bootstrap";
@import "flatpickr/dist/themes/material_blue";
@import "intl-tel-input/src/css/intlTelInput";

// Your CSS partials
@import "components/index";
@import "pages/index";


// Main utlitities
html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: $body-font;
  color: $white;
  height: 100%;
}

body.user-is-tabbing *:focus,
.selected-flag:focus {
  outline: 2px solid #7acdfe !important;/* for non-webkit browsers */
  outline: 5px auto -webkit-focus-ring-color !important;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus,
body:not(.user-is-tabbing) a:focus,
body:not(.user-is-tabbing) .selected-flag:focus {
  outline: none !important;
}

.freezePage {
  overflow: hidden;
  height: 100%;
}



.main-title {
  font-family: $main-headers-font;
  font-size: 72px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px $dark-blue;
}

.sub-title {
  font-family: $main-headers-font;
  font-size: 48px;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 1px 1px 1px $dark-blue;
}

.line-separator {
  height: 8px;
  width: 100px;
  margin: 0 auto;
}

.title {
  margin-bottom: 50px;
}

.page-container {
  padding: 130px 15px 50px 15px;
  margin: 0 auto;
  h1 {
    text-align: center;
  }
}

.infos-text {
  font-size: 16px;
  line-height: 26px;
  text-align: left;
}

.description-text {
  max-width: 800px;
  margin: 0 auto 1.5rem;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 2) {
  html {
    overflow: scroll;
  }

  .main-title {
    font-size: 55px;
  }
  .freezePage {
    position: relative;
  }
}
