// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/reset";

// External libraries
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


// Main utlitities
body {
  font-family: $body-font;
  color: $white;
  overflow: hidden;
}

.main-title {
  font-family: $main-headers-font;
  font-size: 72px;
}

.btn-round {
  border-radius: 40px;
  font-family: $body-font;
}
