// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/reset";

// External libraries
@import "bootstrap";
@import "flatpickr/dist/themes/material_blue";
@import "intl-tel-input/src/css/intlTelInput";

// Your CSS partials
@import "components/index";
@import "pages/index";


// Main utlitities
body {
  font-family: $body-font;
  color: $white;
}

.main-title {
  font-family: $main-headers-font;
  font-size: 72px;
  margin-bottom: 20px;
}

.sub-title {
  font-family: $main-headers-font;
  font-size: 48px;
  margin-bottom: 20px;
  text-align: center;
}

.line-separator {
  height: 8px;
  width: 100px;
  margin: 0 auto;
}

.title {
  margin-bottom: 50px;
}

.page-container {
  padding: 130px 15px 50px 15px;
  margin: 0 auto;
  h1 {
    text-align: center;
  }
}

.infos-text {
  font-size: 16px;
  line-height: 2;
  text-align: justify;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 2) {
  .main-title {
    font-size: 55px;
  }
}
