// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/reset";

// External libraries
@import "bootstrap";

// Your CSS partials
@import "components/index";
@import "pages/index";


// Main utlitities
body {
  font-family: $body-font;
  color: $white;
}

.main-title {
  font-family: $main-headers-font;
  font-size: 72px;
  margin-bottom: 20px;
}

.btn-round {
  border-radius: 40px;
  font-family: $body-font;
}

.line-separator {
  height: 8px;
  width: 100px;
  margin: 0 auto;
}

.title {
  margin-bottom: 50px;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 2) {
  .main-title {
    font-size: 55px;
  }
}
