#error-404-page {
  background-image: url('../images/fishBg.png'),
  linear-gradient(to top, #011b46, #001e51, #00205c, #002266, #002471, #003280, #00408f, #004f9e, #006db1, #298abf, #54a6cb, #7fc2d7);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 100vh;
}
