#about-page {
  background: linear-gradient(to top, #011b46, #001e51, #00205c, #002266, #002471, #003280, #00408f, #004f9e, #006db1, #298abf, #54a6cb, #7fc2d7);
}

.about-text {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about-text:first-child:first-letter {
  font-size: calc(60px + 0.75vw);
  line-height: 40px;
  color: $yellow;
  float: left;
  padding-right: 15px;
  font-family: $main-headers-font;
}

.certif-wrapper {
  text-align: center;
}

#certif-logos-about {
  margin: 20px auto;
}

.prez-img {
  border-radius: 4px;
  box-shadow: 0 0 15px 0px rgba(255, 255, 255, 0.3);
}

#prez-img1,
#prez-img2 {
  height: auto;
  margin: 20px auto;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .about-section-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .presentation {
    width: 50%;
  }
  #prez-img1 {
    width: 500px;
    margin: 0 0 15px -33px;
  }

  #prez-img2 {
    height: 400px;
    margin-top: 50px;
  }
}
