#contact-page {
   min-height: 100vh;
   background: linear-gradient(to top, #011b46, #001e51, #00205c, #002266, #002471, #003280, #00408f, #004f9e, #006db1, #298abf, #54a6cb, #7fc2d7);
    // background-image: url("https://res.cloudinary.com/dsr9bgg8i/image/upload/v1559833750/waves-bg.png");
    // background-color: white;
    // background-size: cover;
    // background-position: center;
}


/* Animation */
@keyframes myfirst {
  0% {
    margin-left: -235px
  }

  70% {
    margin-left: 100%;
  }

  100% {
    margin-left: 100%;
  }
}

// .fish {
//   background-image: url('http://www.geertjanhendriks.nl/codepen/form/fish.png');
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   width: 280px;
//   height: 110px;
//   margin-left: -235px;
//   position: absolute;
//   animation: myfirst 24s;
//   animation-iteration-count: infinite;
//   animation-timing-function: linear;
// }

// #fish {
//   top: 0px;
// }

// #fish2 {
//   top: 250px;
//   animation-delay: 14s;
// }

input, textarea {
  outline: none;
  border: none;
}


textarea:focus,
input:focus {
  border-color: transparent !important;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

.container-contact {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.wrapper-contact {
  width: 790px;
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 55px 90px 55px;
}

.contact-form {
  width: 100%;
}

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid $white;
  margin-bottom: 37px;
}

.form-input {
  display: block;
  width: 100%;
  font-size: 18px;
  background: transparent;
  color: $white;
  line-height: 1.4;
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  padding: 10px 0;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.4s;
  background: $yellow;
}

.focus-input::after {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  font-size: 18px;
  line-height: 1.2;
  transition: all 0.4s;
}

/*---------------------------------------------*/
input.form-input {
  height: 45px;
  background: transparent;
}

input.form-input+.focus-input::after {
  top: 16px;
  left: 0;
}

textarea.form-input {
  min-height: 115px;
  padding-top: 13px;
  padding-bottom: 13px;
}

textarea.form-input+.focus-input::after {
  top: 16px;
  left: 0;
}

.form-input:focus+.focus-input::after {
  top: -22px;
}

.form-input:focus+.focus-input::before {
  width: 100%;
}

.has-val.form-input+.focus-input::after {
  top: -22px;
}

.has-val.input+.focus-input::before {
  width: 100%;
}

#btn-wrapper {
  text-align: center;
}

// #form-btn {
//   border: 1px solid $yellow;
//   border-radius: 10px;
//   padding: 15px;
//   color: $yellow;
//   z-index: 1;
//   overflow: hidden;
//   transition: color 0.4s ease-in-out;
// }

// #form-btn:hover {
//   color: $white;
//   background: $yellow;
// }


// #form-btn::before {
//   content: '';
//   z-index: -1;
//   position: absolute;
//   top: 100%;
//   right: 100%;
//   width: 1em;
//   height: 1em;
//   border-radius: 50%;
//   background-color: $yellow;
//   transform-origin: center;
//   transform: translate(50%, -50%) scale(0);
//   transition: transform 0.45s ease-in-out;
// }

// #form-btn:hover {
//   color: $white;
// }

// #form-btn:hover::before {
//   transform: translate(50%, -50%) scale(15);
// }

// #form-btn {
//   z-index: 1;
//   position: relative;
//   font-size: inherit;
//   font-family: inherit;
//   color: $yellow;
//   border: 1px solid $yellow;
//   padding: 0.5em 1em;
//   outline: none;
//   border: none;
//   overflow: hidden;
//   transition: color 0.4s ease-in-out;
// }

// #form-btn::before {
//   content: '';
//   z-index: -1;
//   position: absolute;
//   top: 100%;
//   right: 100%;
//   width: 1em;
//   height: 1em;
//   border-radius: 50%;
//   background-color: $yellow;
//   transform-origin: center;
//   transform: translate(50%, -50%) scale(0);
//   transition: transform 0.45s ease-in-out;
// }

// #form-btn:hover {
//   color: $white;
// }

// #form-btn:hover::before {
//   transform: translate(50%, -50%) scale(20);
// }






// [ Alert validate ]
.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;
  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

input:-webkit-autofill {
  color: #2a2a2a !important;
}
