#freedive-page {
  min-height: 100vh;
  background-image: url('https://res.cloudinary.com/dsr9bgg8i/image/upload/v1559830473/hanna-line2.jpg');
  background-size: cover;
  background-position: center;
}

#freedive-container {
  padding: 110px 15px 50px 15px;
}

.card {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
  color: $white;
  border-radius: 1em;
  padding: 1em;
  box-shadow: 0 0 5em -1em $white;
  border: 2px solid $yellow;
  margin-bottom: 20px;
  h3 {
    font-family: $headers-font;
    text-align: center;
    font-weight: 500;
  }
  ul {
    text-align: left;
    margin: 0 auto;
  }
  li {
    padding: 5px 0;
  }
}

.course-price {
  text-align: center;
  font-family: $main-headers-font;
  margin: 20px;
  font-size: 28px;
}

.fa-check {
  padding-right: 5px;
}

.fun-dives {
  margin-top: 50px;
}

.red-highlight {
  color: $light-red;
}

#freedive-details {
  padding-top:25px;
}

.freedive-infos {
  background-image: linear-gradient(to left, #73a2bf, #7ca8c4, #85aec8, #8eb5cd, #97bbd2, #8fb2c9, #87a9c0, #7fa0b7, #65869e, #4b6e87, #31566f, #153f59);
}

@media (min-width: 1000px) {
  .freedive-courses {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
  }

  .fun-dives {
    display: inline-block;
    position: absolute;
    bottom: 20px;

    p {
      margin-bottom: 0;
    }
  }

  .card {
    width: 325px;
  }

  .freedive-infos {
    padding: 50px;
  }
}
