#freedive-page {
min-height: 100vh;
background-image: url('https://res.cloudinary.com/dsr9bgg8i/image/upload/v1558355458/pic3_qg0csw.jpg');
background-size: cover;
background-position: center;
}

.freedive-container {
  padding: 130px 15px 50px 15px;
  margin: 0 auto;
  h1 {
    text-align: center;
  }
}
