#freedive-page {
  min-height: 100vh;
  background-image: url('https://res.cloudinary.com/dsr9bgg8i/image/upload/v1559830473/hanna-line2.jpg');
  background-size: cover;
  background-position: center;
}

#freedive-container {
  padding: 110px 15px 50px 15px;
}
.freedive-courses {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:-20px;
}

.card {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
  color: $white;
  border-radius: 1em;
  padding: 1em;
  box-shadow: 0 0 5em -1em $white;
  border: 10px solid $yellow;
  width: 325px;
  h3 {
    font-family: $headers-font;
    text-align: center;
    font-weight: 500;
  }
  ul {
    text-align: left;
    margin: 0 auto;
  }
  li {
    padding: 5px 0;
  }
}

.course-price {
  text-align: center;
  font-family: $main-headers-font;
  margin: 20px;
  font-size: 28px;
}

.btn-card {
  width: fit-content;
  margin: auto;
  margin: 10px auto;
}

.fa-check {
  padding-right: 5px;
}

.fun-dives {
  display: inline-block;
  padding-top: 20px;
  p {
    margin-bottom: 0;
  }
}

.red-highlight {
  color: $red;
}

.freedive-infos {
  background: linear-gradient(to bottom, #60a3b6, #4a8a9f, #357289, #1f5a73, #04445d);
  padding: 50px;
  p {
    font-size: 16px;
    line-height: 2;
    text-align: justify;
  }
}
