#home-page {
  height: 100vh;
  overflow: hidden;
}

.banner {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  // changer de pic après 12s
  // TODO: remettre anim pour prod
  // animation: kenburns 12s linear infinite;
}

.carousel {
  height: 100vh;
  img {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
  }
}

@keyframes kenburns {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.home-container {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 53%;
  transform: translate(-50%, 0%);
  h1 {
    margin: 0 0 50px 0;
  }
}

.btn-book {
  background: $red;
  color: $white;
  padding: 15px 50px;
  font-size: 18px;
}

.btn-book:hover {
  color: $white;
  box-shadow: 0 5px 15px rgba(255, 255, 255, .9);
  opacity: 0.9;
}

.social-links {
  display: inline-flex;
  align-items: center;
  margin: 0 65px 0px 30px;
  position: absolute;
  bottom: 30px;
  right: 50px;
  p {
    font-size: 18px;
    margin: 0 20px;
  }
}

.social-links a {
  color: $white;
  cursor: pointer;
  text-decoration: none;
  font-size: 30px;
  padding: 0px 12px;
  &:hover {
    color:$yellow;
  }
}

// section TOURS
.tours {
  background: linear-gradient(to top, #b0d8e1, #76abc2, #437ea5, #185286, #012762);
  padding: 50px 0;
  h1 {
    text-align: center;
  }
}

.cards-tours {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding-bottom: 25px;
}

// flipping card
.flip-card {
  height: 420px;
}

.card-inner {
  transform-style: preserve-3d;
  perspective: 1000px;
}

.front,
.back {
  background-size: cover;
  background-position: center;
  transition: transform .8s cubic-bezier(0.5, 0.2, 0.2, 0.8);
  backface-visibility: hidden;
  text-align: center;
  min-height: 420px;
  border-radius: 5px;
  color: $white;
}

.back {
  // background: linear-gradient(to right top, #b2d5f4, #7da9da, #4f7cbe, #2851a0, #00267f, #050F36);
  background: $white;
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  backface-visibility: hidden;
}

.card-inner:hover .front,
.card-inner:hover .back {
  transition: transform .8s cubic-bezier(0.5, 0.2, 0.2, 0.8);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.inner {
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  perspective: inherit;
  z-index: 2;
}

.card-inner .back {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.card-inner .front {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.card-inner:hover .back {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.card-inner:hover .front {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}

.front .inner p {
  color: $white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  position: relative;
}

.course-title {
  // color: $white;
  color: $dark-blue;
  font-size: 20px;
}

.price-tag {
  font-family: $main-headers-font;
  // color: $white;
  color: $dark-blue;
  font-size: 20px;
}

.front .inner p:after {
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: $white;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.separator {
  margin: 20px auto;
  width: 50%;
  border-top: 1px solid $red;
}

// responsive styling SMALL Screens
@media only screen
  and (min-width: 320px)
  and (max-width: 812px) {
  .home-container h1 {
    margin: 0 0 35px 0;
  }
  .social-links {
    margin: 0;
    bottom: 10px;
    right: 10px;
  }
}

/*Section REINSURANCE */
.reinsurance {
  background: $white;
  padding: 40px 0px;
  color: $blue;
  h3 {
    font-family: $main-headers-font;
    font-size: 36px;
    margin-top: 30px;
  }
  p {
    font-size: 16px;
    padding: 15px;
    margin: 10px 0;
  }
}

#reinsurance-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  padding: 0;
}

.reinsurance-item {
  text-align: center;
  padding-top:20px;
}

.icon-reinsurance {
  height: 80px;
  padding-top: 12px;
  margin: 0 auto;
}

// grids responsive
@media (min-width: 100px)
  and (max-width: 991px) {
  .cards-tours,
  #reinsurance-grid {
    grid-template-columns: 1fr;
  }
  .reinsurance-item {
    border-top: 1px solid $yellow;
    &:nth-child(-n+1) {
      border-top: none;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-tours,
  #reinsurance-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .reinsurance-item {
    border-left: 1px solid $yellow;
    &:nth-child(-n+1) {
      border-left: none;
    }
  }
}
