.home-page {
  margin-top: -80px;
  position: relative;
}

.banner {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.banner h1 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  margin: 0 0 50px 0;
}

.home-container {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 53%;
  transform: translate(-50%, 0%)
}

.btn-book {
  background: $red;
  color: $white;
  padding: 15px 50px;
  font-size: 18px;
}

.btn-book:hover {
  color: $white;
  box-shadow: 0 5px 15px rgba(255, 255, 255, .9);
  background: $yellow;
  transition: all 0.4s ease;
}

.social-links {
  display: inline-flex;
  align-items: center;
  margin: 0 65px 0px 30px;
  position: absolute;
  bottom: 30px;
  right: 50px;
  p {
    font-size: 18px;
    margin: 0 20px;

  }
}

.social-links a {
  color: $white;
  cursor: pointer;
  text-decoration: none;
  font-size: 30px;
  padding: 0px 12px;
  &:hover {
    color:$yellow;
  }
}
