#home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background: green;
  h1 {
    margin: 500px 50px 50px 50px;
  }
  p {
    margin-top: 1.5em;
  }
}
