#home-page {
  height: 100%;
  overflow: hidden;
}

.banner {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.home-container {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 53%;
  transform: translate(-50%, 0%);
  width: 100%;
  h1 {
    margin: 0 0 50px 0;
  }
}

// title anim
.ml2 .letter {
  display: inline-block;
  will-change: transform;
  line-height: 1em;
}

.social-links {
  display: inline-flex;
  align-items: center;
  margin: 0 65px 0px 30px;
  position: absolute;
  bottom: 30px;
  right: 50px;
  p {
    font-size: 18px;
    margin: 0 20px;
  }
}

.social-links a {
  color: $white;
  cursor: pointer;
  text-decoration: none;
  font-size: 30px;
  padding: 0px 12px;
  &:hover {
    color:$yellow;
  }
}

// section TOURS
.tours {
  background: linear-gradient(to bottom, #b0d8e1, #76abc2, #437ea5, #185286, #012762);
  padding: 50px 0;
  h1 {
    text-align: center;
  }
}

.cards-tours {
  padding-bottom: 25px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}
// flipping card
.flip-card {
  height: 450px;
}
  // For bloody IE11 grid supports
#card-1 {
  -ms-grid-column: 1;
}
#card-2 {
  -ms-grid-column: 2;
}
#card-3 {
  -ms-grid-column: 3;
}

@supports (display:-ms-grid) {
  .flip-card {
    margin: 16px;
    margin-left: 0;
  }
  .flip-card:first-child { margin-left: 16px; }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .flip-card {
    margin: 16px;
    margin-left: 0;
  }
  .flip-card:first-child { margin-left: 16px; }
}
// END

.card-inner {
  transform-style: preserve-3d;
  perspective: 1000px;
}

.front,
.back {
  background-size: cover;
  background-position: center;
  transition: transform .8s cubic-bezier(0.5, 0.2, 0.2, 0.8);
  backface-visibility: hidden;
  text-align: center;
  min-height: 450px;
  border-radius: 5px;
  color: $white;
}

.back {
  background: $white;
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  backface-visibility: hidden;
}

.inner {
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  perspective: inherit;
  z-index: 2;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.front .inner {
  color: $white;
  font-size: 24px;
  height: 100%;
  .card-title {
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.touch-flip-hint {
  visibility: hidden;
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%);
  p {
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 0;
  }
}

.course-title {
  color: $dark-blue;
  font-size: 20px;
}

.price-tag {
  font-family: $main-headers-font;
  color: $dark-blue;
  font-size: 20px;
}

.front .inner .card-title:after {
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: $white;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.separator {
  margin: 20px auto;
  width: 50%;
  border-top: 1px solid $red;
}

.learn-more-link {
  position: relative;
  transition: all 0.2s ease;
  display: inline-flex;
  align-items: baseline;
  color: $red;
  margin-top: 10px;
}

.learn-more-link span {
  position: relative;
  letter-spacing: 1px;
  text-decoration: underline;
}

.learn-more-link svg {
  margin-left: 5px;
  fill: none;
  stroke: $red;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}

.learn-more-link:hover span {
  text-decoration: none;
  color: $red;
}


.flip-card .front {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  cursor: pointer;
}

.flip-card .back {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

// flip effect for regular browser
@media (hover: hover) {
  .flip-card:hover .front {
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
  }

  .flip-card:hover .back {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
  }

  .flip-card:hover .front,
  .flip-card:hover .back {
    transition: transform .8s cubic-bezier(0.5, 0.2, 0.2, 0.8);
  }
}

// flip effect for mobile on touch event toggle class hover
@media only screen and (min-device-width: 320px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2) {
  .card-hover-effect .front,
  .card-hover-effect .back {
    transition: transform .8s cubic-bezier(0.5, 0.2, 0.2, 0.8);
  }

  .card-hover-effect .front {
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
  }

  .card-hover-effect .back {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
  }
  .touch-flip-hint {
    visibility: visible;
  }
}

.video-section {
  background-color: $light-blue;
}

.vid-wrapper {
  margin: auto;
  padding: 60px 0;
  width: 60%;
}

.video {
  border-radius: 3px;
  box-shadow: 7px 5px 15px 0px rgba(0, 0, 0, 0.5);
}

// responsive styling SMALL Screens
@media only screen
  and (min-width: 320px)
  and (max-width: 812px) {
  .home-container h1 {
    margin: 0 0 35px 0;
  }
  .social-links {
    margin: 0;
    bottom: 10px;
    right: 10px;
  }
}
// grids responsive
@media (min-width: 100px)
  and (max-width: 991px) {
  .cards-tours {
    // IE11
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    max-width: 450px;
    margin: auto;
  }
  .vid-wrapper {
    width: 80%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .reinsurance-item {
    border-left: 1px solid $yellow;
    &:nth-child(-n+1) {
      border-left: none;
    }
  }
}
