#spearfishing-page {
  min-height: 100vh;
  background-image: url('https://res.cloudinary.com/dsr9bgg8i/image/upload/v1558355420/speafishing_banner.jpg');
  background-size: cover;
  background-position: center;
}
