#spearfishing-page {
  background-image: url('https://res.cloudinary.com/dsr9bgg8i/image/upload/v1571941520/spear_bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 80px;
}

#sprearo-wrapper {
  padding-top: 10px;
}

.exp-disclaimer {
  text-transform: uppercase;
  text-align: center;
}

.spearfishing-infos {
  background-image: linear-gradient(to bottom, #80c4d7, #67b4d0, #4fa4c9, #3794c2, #1f83bb, #0f78b5, #026caf, #0061a8, #0059a3, #00519d, #004897, #014091);
  padding: 50px 0;
}

#spearfishing-details {
  padding-top: 25px;
}


#spear-text:first-letter {
  font-size: calc(60px + 0.75vw);
  line-height: 40px;
  color: $yellow;
  float: left;
  padding-right: 15px;
  margin-top: -10px;
  font-family: $main-headers-font;
}

@media (min-width: 900px) {
  .spear-tours {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px 0 100px;
  }
  #card-bottom {
    margin-left:100px;
  }
  .spearfishing-infos {
    padding: 50px;
  }
}

@media (min-width: 1200px) {
  #card-left, #card-bottom {
    margin-left:150px;
  }
}
