#underwater-page {
  background-image: url('https://res.cloudinary.com/dsr9bgg8i/image/upload/v1563464237/underwater.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

@media (min-width: 1000px) {
  #photo-card {
    float: right;
    margin-top: -25px;
  }
}
@media (min-width: 1050px) {
  #photo-card {
    margin-right: -40px;
  }
}

.gallery-section {
  background: linear-gradient(to top, #115862, #156570, #1a727e, #1e7f8c, #238d9b, #2d97a4, #37a1ad, #40abb6, #4eb3bc, #5bbbc1, #68c4c7, #74cccd);
  min-height: 100vh;
}

.gallery-container {
  text-align: center;
  padding-top: 20px;
}
