#underwater-page {
  background-image: url('https://res.cloudinary.com/dsr9bgg8i/image/upload/v1571673096/UW_PHotoPageMainImage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.underwater-tour {
  display: flex;
  justify-content: flex-start;
}

#photo-card {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
}

@media (min-width: 1000px) {
  #photo-card {
    margin-top: -25px;
  }
}
@media (min-width: 1050px) {
  #photo-card {
    margin-left: -40px
  }
}

.gallery-section {
  background: linear-gradient(to top, #115862, #156570, #1a727e, #1e7f8c, #238d9b, #2d97a4, #37a1ad, #40abb6, #4eb3bc, #5bbbc1, #68c4c7, #74cccd);
  min-height: 100vh;
}

.gallery-container {
  text-align: center;
  padding-top: 20px;
}

#sell-text {
  font-size:18px;
}


/* Masonry grid */
.masonry {
  padding: 20px 0;
  transition: all .5s ease-in-out;
  column-gap: 30px;
}

/* Masonry item */
.masonry .brick {
  margin-bottom: 30px;
  display: inline-block; /* Fix the misalignment of items */
  vertical-align: top; /* Keep the item on the very top */
}

/* Masonry image effects */
.masonry .brick img {
  transition: all .5s ease-in-out;
  backface-visibility: hidden; /* Remove Image flickering on hover */
  border-radius: 2px;
}

.masonry .brick:hover img {
  opacity: .75;
}

/* Masonry on tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .masonry {
    column-count: 2;
  }
}

/* Masonry on big screens */
@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 3;
  }
}

// lightbox centering for mobile + overlay color + remove caption on landscape
.lightboxOverlay {
  background-color: #050F36;
  opacity: 0.9;
}
#lightboxOverlay {
  position: fixed !important;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100% !important;
}

#lightbox {
  position: fixed !important;
  top: 50% !important;
  transform: translateY(-50%);
}

@media only screen
  and (max-device-width: 812px)
  and (orientation: landscape) {
  .lb-data .lb-details {
    display: none;
  }
}
