#underwater-page {
  background-image: url('https://res.cloudinary.com/dsr9bgg8i/image/upload/v1561745097/underwater-photo.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
