<div class="modal fade" id="modalBookingForm" tabindex="-1" role="dialog" aria-labelledby="modalBookingForm"
aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title w-100" id="modal-title">Book a tour</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="contact-form validate-modal-form" autocomplete="off"
        action="https://formspree.io/trident.freedivers@gmail.com" method="post">
          <div class="row modal-row">
            <div class="col-xs-12 col-sm-6 modal-item">
              <div class="wrap-input validate-modal-input" data-validate="Name is required">
                <label for="booking-name">Name</label>
                <input class="book-form-input form-control" id="booking-name" type="text" name="name">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 modal-item">
              <div class="wrap-input validate-modal-input" data-validate="Valid email is required: ex@abc.xyz">
                <label for="booking-email">Email</label>
                <input class="book-form-input form-control" type="email" name="email" id="booking-email">
              </div>
            </div>
          </div>
          <div class="row modal-row">
            <div class="col-xs-12 col-sm-6 modal-item">
              <div class="wrap-input validate-modal-input">
                <label for="phone">Phone</label>
                <div class="wrapper-phone">
                  <input class="book-form-input form-control" type="tel" name="telephone" id="phone">
                  <span id="valid-msg" class="hide"><i class="fas fa-check"></i> Valid</span>
                  <span id="error-msg" class="hide"></span>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 modal-item">
              <div class="wrap-input validate-modal-input" data-validate="Accomodation is required">
                <label for="book-accomodation">Accomodation</label>
                <input class="book-form-input form-control" type="text" name="accomodation"
                  id="book-accomodation">
              </div>
            </div>
          </div>
          <div class="row modal-row">
            <div class="col-xs-12 col-sm-12 modal-item">
              <div class="wrap-input validate-modal-input" data-validate="You need to specify a tour">
                <label for="select-tour">Tour</label>
                <select class="book-form-input form-control" id="select-tour" name="tour">
                  <option selected>Select a tour</option>
                  <option>Freediving - 1 Day course</option>
                  <option>Freediving - 2 Days certification</option>
                  <option>Freediving - Fun Dive</option>
                  <option>Spearfishing - Coastal tour</option>
                  <option>Spearfishing - Blue water tour</option>
                  <option>Spearfishing - Night tour</option>
                  <option>Freediving - Underwater Photography tour</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row modal-row">
            <div class="col-xs-12 col-sm-6 modal-item">
              <div class="wrap-input validate-modal-input" data-validate="A valid date is required">
                <label for="date">Date</label>
                <input class="book-form-input form-control datepicker" type="date" readonly="readonly"
                id="date" name="date">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 modal-item">
              <div class="wrap-input validate-modal-input" data-validate="Fins size is required">
                <label for="fins">Fins Size</label>
                <input class="book-form-input form-control" type="text" name="fins size" id="fins">
              </div>
            </div>
          </div>
          <div class="row modal-row">
            <div class="col-xs-12 col-sm-12 modal-item">
              <div class="wrap-input validate-modal-input" data-validate="Message is required">
                <label for="book-message">Your Message</label>
                <textarea class="book-form-input form-control" name="message" id="book-message"></textarea>
              </div>
            </div>
          </div>
          <div id="book-btn-wrapper">
            <button type="submit" class="modal-form-submit" id="booking-form-btn">
              <span><i class="far fa-paper-plane"></i>Send</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
