<section class="reinsurance">
  <div class="container" id="reinsurance-grid">
    <div class="reinsurance-item">
      <div class="learning">
        <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1558973805/anchor.png", alt: "Trident Freedivers - Learn to freedive", id:"", class: "icon-reinsurance img-responsive" %>
        <h3>Learn to freedive</h3>
        <p>Learn freediving with a PADI certified instructor with training experience to let you enjoy the freediving
          joy and spirit.</p>
      </div>
    </div>
    <div class="reinsurance-item">
      <div class="certification">
        <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1558975001/certif.png", alt: "Trident Freedivers - certification", id:"", class: "icon-reinsurance img-responsive" %>
        <h3>Certification</h3>
        <p>With our 2 days course, we help all applicants to achieve the PADI freediving certification recognized
          worldwide.</p>
      </div>
    </div>
    <div class="reinsurance-item">
      <div class="rental">
        <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1558977358/snorkel.png", alt: "Trident Freedivers - Safety", id:"", class: "icon-reinsurance img-responsive" %>
        <h3>Safety</h3>
        <p>Rescue techniques are taught on all our freedive courses. <br>
        We also teach EFR <small>(Emergency First Response)</small>  and CPR <small>(Cardiopulmonary Resuscitation)</small> .</p>
      </div>
    </div>
  </div>
</section>
