// Define variables for your color scheme

// For example:
$white:#FFFFFF;
$red: #BC1834;
$light-red: #fa0000;
$yellow: #FFC726;

$gray: #0E0000;
$light-gray: #F4F4F4;

$dark-blue: #050F36;
$barbados-blue: #00267F;
$blue: #012769;
$light-blue: #B0D8E1;
