// Import Google fonts
// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Lato:300,400,700|Oswald:400,700&display=swap');

// Define fonts for body and headers
$main-headers-font: "Kaushan Script", "cursive";
$headers-font: "Oswald", "sans-serif";
$body-font: "Lato", "sans-serif";
