// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Lato:400,700|Oswald:400,700&display=block');

// Define fonts for body and headers
$main-headers-font: "Kaushan Script", "cursive";
$headers-font: "Oswald", "sans-serif";
$body-font: "Lato", "sans-serif";
