.modal-header {
  text-align: center;
  border-bottom: 1px solid $red;
}

.modal-title {
  font-family: $main-headers-font;
  font-size: 38px;
}

.modal-content {
  color:$dark-blue;
}

.row {
  margin: 15px 0;
}

.book-form-input {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  margin: 0 auto;
}

.book-form-input:focus {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0.6);
}

#select-tour {
  border-radius: 4px;
}

// flag for phone number field
.iti__flag {
  background-image: url("../images/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("../images/flags@2x.png");
  }
}

.iti {
  display: flex;
}

.iti .flag-container {
  padding: 0;
}

.iti__country-list {
  z-index: 10;
}

// for safari (do not take modal content color cause dropdown out of flow)
.iti__country-name {
  color:$dark-blue;
}

.iti__selected-flag {
  border-radius: 24px;
}

.hide {
  display: none;
}

#valid-msg {
  color: #00a300;
  padding-left: 10px;
}

#error-msg {
  color: $red;
  padding-left: 10px;
}

#book-message {
  min-height: 100px;
}

.validate-modal-input {
  position: relative;
}

.alert-validate-modal::before {
  top: 16px;
  right: 18px;
}

.alert-validate-modal::after {
  top: 18px;
  right: 22px;
}

#book-btn-wrapper {
  text-align: center;
}

#booking-form-btn {
  color: white;
  background: linear-gradient(to top, #011b46, #001e51, #00205c, #002266, #002471, #003280, #00408f, #004f9e, #006db1, #298abf, #54a6cb, #7fc2d7);
  padding: 15px 65px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.34) inset,
    0 2px 0 -1px rgba(0, 0, 0, 0.13),
    0 3px 0 -1px rgba(0, 0, 0, 0.08),
    0 3px 13px -1px rgba(0, 0, 0, 0.21);
    border-radius: 25px;
}

#booking-form-btn:active {
  bottom: 2px;
  border-color: rgba(0, 0, 0, 0.34) rgba(0, 0, 0, 0.21) rgba(0, 0, 0, 0.21);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.89), 0 1px rgba(0, 0, 0, 0.05) inset;
  position: relative;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .modal-item {
    margin-bottom: 15px;
  }

  .modal-row {
    margin: 0;
  }
}
