#navbar {
  position: absolute;
  top:0;
  width: 100%;
  // background-color: transparent;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  box-shadow:0 4px 20px 0 rgba(255, 255, 255, 0.6);
}

.navbar-top {
  height: 80px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-pic {
  height: 55px;
  margin-top: 5px;
}

#logo2 {
  height: 85px;
  margin-left: -15px;
}

/* Middle section */
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar link */
.navbar-item {
  padding: 0 25px;
}

.navbar-link {
  color: white;
  font-size: 19px;
  font-family: $headers-font;
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
  padding-bottom: 10px;
}

.navbar-link:hover {
  color: white;
  text-decoration: none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .5s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FFC726' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
}

// start sidenav
#logo-sideNav {
  height: 90px;
  margin: 10px auto;
  transition: 0.2s;
  opacity: 0;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  opacity:0;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $blue;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.6s;
  padding-top: 100px;
  ul {
    margin: 40px 0 0 10px;
  }
  li {
    margin-left: 10px;
    width: fit-content;
    padding: 20px 30px;
  }
}

.show-sidenav {
  width: 100%;
  opacity: 1;
  #logo-sideNav {
    opacity: 1;
  }
}

.front-position {
  position: relative;
}

.sidenav a {
  text-decoration: none;
  font-size: 22px;
  font-family: $headers-font;
  color: $white;
}

.sidenav a:hover {
  color: $yellow;
}

.social-wrapper {
  text-align: center;
}

.social-links-sidenav {
  display: inline-flex;
  align-items: center;
  justify-content:  space-around;
}

.social-links-sidenav a {
  color: $white;
  cursor: pointer;
  font-size: 36px;
  padding: 0px 20px;
  &:hover {
    color: $yellow;
  }
}

// Hamburger
.hamburger {
  z-index: 10;
  padding: 15px 5px;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  color: $white;
  background-color: transparent;
  border: 0;
  margin: 0;

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 4px;
    background-color: $white;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    border-radius: 4px;
  }
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  top: 25px;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

  &::before {
    top: -10px;
  }

  &::after {
    bottom: -10px;
  }
}

.hamburger-collapse {
  .hamburger-inner {
    &::after {
      top: -20px;
      transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
      opacity 0.1s linear;
    }

    &::before {
      transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
      transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  &.is-active {
    .hamburger-inner {
      transform: translate3d(0, -10px, 0) rotate(-45deg);
      transition-delay: 0.22s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::after {
        top: 0;
        opacity: 0;
        transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
        opacity 0.1s 0.22s linear;
      }

      &::before {
        top: 0;
        transform: rotate(-90deg);
        transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
        transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}

// responsive styling SMALL SCREENS
@media only screen
  and (min-width: 320px)
  and (max-width: 767px) {
  .logo-pic {
    height: 85px;
    margin:0;
  }
}

@media only screen
  and (min-width: 768px)
  and (max-width: 1100px) {
  .navbar-top {
    padding: 0px 15px;
  }
  .logo-pic {
    height: 60px;
    margin-top: 0;
  }

  #logo2 {
    height: 85px;
  }

  .navbar-item {
    padding: 0 15px;
    text-align: center;
  }

  .navbar-link {
    font-size: 17px;
  }

  .btn-contact {
    padding: 10px 20px;
    font-size: 14px;
    display: block;
    text-align: center;
  }
}

// iphones all
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .logo-pic {
    margin-left: -20px;
  }
  #logo2 {
    height: 75px;
    margin: 5px 0px 0 -15px;
  }
  #logo-sideNav {
    height: 70px;
    margin: 0 auto;
  }
  .sidenav ul {
  margin: 10px 0 0 10px;
  }
}
