#navbar {
    width: 100%;
    background-color: transparent;
    position: relative;
    z-index: 10;
    box-shadow:0 4px 20px 0 rgba(255, 255, 255, 0.9);
}

.navbar-top {
  height: 80px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-pic {
  height: 55px;
  margin-top: 5px;
}

#logo2 {
  height: 85px;
}

/* Middle section */
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar link */
.navbar-item {
  padding: 0 25px;
}

.navbar-link {
  color: white;
  font-size: 19px;
  font-family: $headers-font;
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
  padding-bottom: 10px;
}

.navbar-link:hover {
  color: white;
  text-decoration: none;
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .5s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FFC726' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
   background-position: 0 100%;
   background-size: auto 6px;
   background-repeat: repeat-x;
}

//  right section
.btn-contact {
  background: $yellow;
  color: $white;
  padding: 12px 38px;
}

.btn-contact:hover {
  color: $white;
  box-shadow: 0 5px 15px rgba(255, 255, 255, .9);
}

// start sidenav
.burger {
  font-size: 26px;
  cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $blue;
  overflow-x: hidden;
  transition: 0.75s;
  padding-top: 100px;
  white-space: nowrap;
  li {
    margin-left: 10px;
    width: fit-content;
    padding: 20px 30px;
  }
}

.sidenav a {
  text-decoration: none;
  font-size: 26px;
  display: block;
  transition: 0.3s;
  font-family: $headers-font;
  color: $white;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  cursor:pointer;
  position: absolute;
  color: $white;
  top: 20px;
  right: 30px;
  font-size: 36px;
  margin-left: 50px;
}

// responsive styling SMALL SCREENS
@media only screen
  and (min-width: 320px)
  and (max-width: 767px) {
  .logo-pic {
    height: 85px;
    margin:0;
  }
}

@media only screen
  and (min-width: 768px)
  and (max-width: 1100px) {
  .navbar-top {
    padding: 0px 15px;
  }
  .logo-pic {
    height: 60px;
    margin-top: 0;
  }

  #logo2 {
    height: 85px;
  }

  .navbar-item {
    padding: 0 15px;
    text-align: center;
  }

  .navbar-link {
    font-size: 17px;
  }

  .btn-contact {
    padding: 10px 20px;
    font-size: 14px;
    display: block;
    text-align: center;
  }
}

// iphones all
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .logo-pic {
      margin-left: -20px;
    }
  }
