#navbar {
    width: 100%;
    // background-color: transparent;
    background-color: $dark-blue;
    position: relative;
    z-index: 10;
    box-shadow:0 4px 20px 0 rgba(255, 255, 255, 0.9);
}

.navbar-top {
  height: 80px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-pic {
  height: 60px;
  margin-top: 5px;
}

/* Middle section */
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar link */
.navbar-item {
  padding: 0 40px;
}

.navbar-link {
  color: white;
  font-size: 21px;
  font-family: $headers-font;
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
  padding-bottom: 10px;
}

.navbar-link:hover {
  color: white;
  text-decoration: none;
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .5s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FFC726' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
   background-position: 0 100%;
   background-size: auto 6px;
   background-repeat: repeat-x;
}

// .navbar-link::after {
//   content: '';
//   display: block;
//   width: 0;
//   height: 2px;
//   margin-top: 5px;
//   background: $yellow;
//   transition: width .3s;
// }

// .navbar-link:hover::after {
//   width: 100%;
// }

//  right section
.btn-contact {
  background: $yellow;
  color: $white;
  padding: 12px 38px;
  font-size: 17px;
}

.btn-contact:hover {
  color: $white;
  box-shadow: 0 5px 15px rgba(255, 255, 255, .9);

}
