#navbar {
    width: 100%;
    background-color: transparent;
    // background-color: $dark-blue;
    position: relative;
    z-index: 10;
    box-shadow:0 4px 20px 0 rgba(255, 255, 255, 0.9);
}

.navbar-top {
  height: 80px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-pic {
  height: 60px;
  margin-top: 5px;
}

/* Middle section */
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar link */
.navbar-item {
  padding: 0 25px;
}

.navbar-link {
  color: white;
  font-size: 21px;
  font-family: $headers-font;
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
  padding-bottom: 10px;
}

.navbar-link:hover {
  color: white;
  text-decoration: none;
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .5s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FFC726' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
   background-position: 0 100%;
   background-size: auto 6px;
   background-repeat: repeat-x;
}

//  right section
.btn-contact {
  background: $yellow;
  color: $white;
  padding: 12px 38px;
}

.btn-contact:hover {
  color: $white;
  box-shadow: 0 5px 15px rgba(255, 255, 255, .9);
}

// burger nav
// .sidenav {
//   height: 100%;
//   width: 0;
//   position: fixed;
//   z-index: 1;
//   top: 0;
//   right: 0;
//   background-color: $primary;
//   overflow-x: hidden;
//   transition: 0.75s;
//   padding-top: 60px;
//   text-align: center;
//   white-space: nowrap;

//   ul {
//     list-style: none;
//     padding-left: 0;
//   }

//   li {
//     margin: 20px
//   }
// }

// .sidenav a {
//   padding: 8px 8px 8px 32px;
//   text-decoration: none;
//   font-size: 26px;
//   display: block;
//   transition: 0.3s;
//   font-family: $headers-font;
//   color: $secondary;
// }

// .sidenav a:hover {
//   color: #f1f1f1;
// }

// .sidenav .closebtn {
//   position: absolute;
//   color: $secondary;
//   top: 20px;
//   right: 30px;
//   font-size: 36px;
//   margin-left: 50px;
// }

// .divider {
//   background: $secondary;
//   height: 1px;
// }

#nav-icon {
  margin: 1em;
  width: 30px;
}

#nav-icon:after,
#nav-icon:before,
#nav-icon div {
  background-color: #fff;
  border-radius: 3px;
  content: '';
  display: block;
  height: 4px;
  margin: 7px 0;
  transition: all .2s ease-in-out;
}
#nav-icon.open:before {
  transform: translateY(11px) rotate(135deg);
}

#nav-icon.open:after {
  transform: translateY(-11px) rotate(-135deg);
}

#nav-icon.open div {
  transform: scale(0);
}


// responsive styling SMALL SCREENS
@media only screen
  and (min-width: 320px)
  and (max-width: 767px) {
  .logo-pic {
    height: 85px;
    margin:0;
  }
}

@media only screen
  and (min-width: 768px)
  and (max-width: 1057px) {
  .navbar-top {
    padding: 0px 20px;
  }
  .logo-pic {
    height: 45px;
  }
  .navbar-item {
    padding: 0 22px;
  }

  .navbar-link {
    font-size: 16px;
  }

  .btn-contact {
    padding: 10px 20px;
    font-size: 14px;
    display: block;
    text-align: center;
  }
}
