/*Section REINSURANCE */
.reinsurance {
  background: $white;
  padding: 40px 0px;
  color: $blue;

  h3 {
    font-family: $main-headers-font;
    font-size: 36px;
    margin-top: 30px;
  }

  p {
    font-size: 16px;
    padding: 15px;
    margin: 10px 0;
  }
}

#reinsurance-grid {
  padding: 0;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.reinsurance-item {
  text-align: center;
  padding-top: 20px;
}
  // For bloody IE11 grid supports
#item-1 {
  -ms-grid-column: 1;
}
#item-2 {
  -ms-grid-column: 2;
}
#item-3 {
  -ms-grid-column: 3;
}

@supports (display:-ms-grid) {
  .reinsurance-item {
    margin: 15px;
    margin-left: 0;
  }
  .reinsurance-item:first-child { margin-left: 15px; }
}
// END

.icon-reinsurance {
  height: 80px;
  padding-top: 12px;
  margin: 0 auto;
}

// grids responsive
@media (min-width: 100px)
  and (max-width: 991px) {
  #reinsurance-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .reinsurance-item {
    border-top: 1px solid $yellow;
    &:nth-child(-n+1) {
      border-top: none;
    }
  }
}
