/*Section REINSURANCE */
.reinsurance {
  background: $white;
  padding: 40px 0px;
  color: $blue;

  h3 {
    font-family: $main-headers-font;
    font-size: 36px;
    margin-top: 30px;
  }

  p {
    font-size: 16px;
    padding: 15px;
    margin: 10px 0;
  }
}

#reinsurance-grid {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  // For bloody IE11
  display: -ms-grid;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
}

.reinsurance-item {
  text-align: center;
  padding-top: 20px;
}

.icon-reinsurance {
  height: 80px;
  padding-top: 12px;
  margin: 0 auto;
}

// grids responsive
@media (min-width: 100px)
  and (max-width: 991px) {
  #reinsurance-grid {
    grid-template-columns: 1fr;
    -ms-grid-columns: 1fr;
  }
  .reinsurance-item {
    border-top: 1px solid $yellow;
    &:nth-child(-n+1) {
      border-top: none;
    }
  }
}
