---
title: Oops...404 - Trident Freedivers
---

<div id="error-404-page">
  <div class="container">
    <h1>404</h1>
    <h2>Oops.... It seems you have been too deep</h2>
    <h3>You are now lost in the ocean</h3>
    <%= link_to "Back to the surface", "/index.html", class: "" %>
  </div>
</div>
