---
title: Oops... Error 404 - Trident Freedivers
permalink: /404.html
---

<div id="error-404-page">
  <div class="error-text">
    <h1>
      <span>4</span>
      <span>0</span>
      <span>4</span>
    </h1>
    <h2>Looks like you have been too deep!</h2>
    <h3>Don't panic and make sure to hold your breath.</h3>
    <%= link_to "Back to the surface", "/index.html", class: "btn-404" %>
  </div>
  <div class="fish" id="fish1"></div>
  <div class="fish" id="fish2"></div>
  <div class="fish" id="fish3"></div>
</div>
