<div id="about-page">
  <div class="container about-container">
    <h1 class="main-title">About Us</h1>
    <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1559053652/line_yellow.png", alt: "Trident Freedivers - line", class:"img-responsive line-separator" %>
    <div class="presentation clearfix">
      <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1559056198/hanna_competition.jpg", class: "prez-img float-left", id: "prez-img1", alt: "Trident Freedivers - Freediving"%>
      <p class="about-text text-justify">Johanna Loch-Allen (aka Hanna) is the Barbadian Freediving Record holder in both the Free Immersion and Constant Weight disciplines.</p>
      <p class="about-text text-justify">She grew up swimming, surfing, sailing and spearfishing in the crystal clear
        waters of Barbados.
      Hanna competed in the International Freediving Competition - Blue Element in Dominica where she placedFourth overall and set 5 National Records for Barbados.</p>
      <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1558355460/hanna_coral.jpg", class: "prez-img float-right", id: "prez-img2", alt: "Trident Freedivers - Hanna coral"%>
      <p class="about-text text-justify">She is a <strong>PADI Freediving instructor and Emergency First Response
          instructor</strong>. <br>
      Hanna is a passionate about promoting both the sport of Freediving and the many health benefits that can come from it. From moving meditation to Spearfishing as a sustainable fishing method.</p>
      <p class="about-text text-justify"> Come and learn how to Freedive with us, we have courses for beginners and more
        advanced freedivers.
      We run underwater photography shoots, lessons, we run spear fishing tours we specialise in breath holding for surfers and also teach breath hold and surf safety for kids.<br>
      All instructors are Emergency First Response Instructors and are certified to teach first aid.</p>
      <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1558355458/pic4_jqvded.jpg", class: "prez-img float-left", id: "prez-img3", alt: "Trident Freedivers - Freediving"%>
      <p class="about-text text-justify">We cater to divers of all levels, come and freedive and spearfish in the gorgeous
        crystal clean waters of Barbados. <br>
      What could be better than freediving with the gorgeous ship wrecks of Carlisle Bay as your backdrop?!</p>
    </div>
  </div>
</div>
