<div id="contact-page">
  <div class="container page-container">
    <div class="title">
      <h1 class="main-title">Get in touch</h1>
      <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1559053652/line_yellow.png", alt: "Trident Freedivers - line", class:"img-responsive line-separator" %>
    </div>

    <div id="form">
      <div class="fish" id="fish"></div>
      <div class="fish" id="fish2"></div>

      <div class="container-contact">
        <div class="wrapper-contact">
          <form class="contact-form validate-form" autocomplete="off" action="">
            <div class="wrap-input validate-input" data-validate="Name is required">
              <input class="form-input" type="text" name="name">
              <span class="focus-input" data-placeholder="NAME"></span>
            </div>

            <div class="wrap-input validate-input" data-validate="Valid email is required: ex@abc.xyz">
              <input class="form-input" type="text" name="email">
              <span class="focus-input" data-placeholder="EMAIL"></span>
            </div>

            <div class="wrap-input validate-input" data-validate="Subject is required">
              <input class="form-input" type="text" name="subject">
              <span class="focus-input" data-placeholder="SUBJECT"></span>
            </div>

            <div class="wrap-input validate-input" data-validate="Message is required">
              <textarea class="form-input" name="message"></textarea>
              <span class="focus-input" data-placeholder="MESSAGE"></span>
            </div>
            <div id="btn-wrapper">
              <button type="submit" name="submit" id="form-btn">
                <span>SEND MESSAGE</span>
              </button>
            </div>

          </form>
        </div>
      </div>

    </div>

  </div>
</div>
