<div id="contact-page">
  <div class="container page-container">
    <div class="title">
      <h1 class="main-title">Get in touch</h1>
      <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1559053652/line_yellow.png", alt: "Trident Freedivers - line", class:"img-responsive line-separator" %>
    </div>

    <div id="form">
      <div class="fish" id="fish"></div>
      <div class="fish" id="fish2"></div>



        <!-- <form class="contact-form validate-form" method="post" action="https://formspree.io/trident.freedivers@gmail.com">

          <div class="form-group validate-input" data-validate="Name is required">
            <input class="input-contact" type="text" name="name" required="required">
            <label for="email" class="animated-label">E-mail</label>

          </div>

          <div class="form-group validate-input" data-validate="Valid email is required: ex@abc.xyz">
            <input class="input2" type="text" name="email" required="required">
            <span class="focus-input2" data-placeholder="EMAIL"></span>
          </div>

          <div class="form-group validate-input" data-validate="A subject is required">
            <span class="focus-input2" data-placeholder="SUBJECT"></span>
          </div>

          <div class="form-group validate-input">
            <textarea class="input2" name="message" required="required" data-validate="A subject is required"></textarea>
            <span class="focus-input2" data-placeholder="MESSAGE"></span>
          </div>

          <div class="container-contact2-form-btn">
              <button type="submit" name="submit" class="btn-contact">
                <span>SEND MESSAGE</span>
              </button>
          </div>
        </form> -->

          <div class="bg-ontact2">
            <div class="container-contact2">
              <div class="wrap-contact2">
                <form class="contact2-form validate-form" autocomplete="off">
                  <div class="wrap-input2 validate-input" data-validate="Name is required">
                    <input class="input2" type="text" name="name">
                    <span class="focus-input2" data-placeholder="NAME"></span>
                  </div>

                  <div class="wrap-input2 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input2" type="text" name="email">
                    <span class="focus-input2" data-placeholder="EMAIL"></span>
                  </div>

                  <div class="wrap-input2 validate-input" data-validate="Message is required">
                    <textarea class="input2" name="message"></textarea>
                    <span class="focus-input2" data-placeholder="MESSAGE"></span>
                  </div>

                  <div class="container-contact2-form-btn">
                    <div class="wrap-contact2-form-btn">
                      <div class="contact2-form-bgbtn"></div>
                      <button class="contact2-form-btn">
                        Send Your Message
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>


  </div>
</div>
