<div id="freedive-page">
  <div class="container freedive-container">
    <div class="title">
      <h1 class="main-title">Freediving</h1>
      <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1559053652/line_yellow.png", alt: "Trident Freedivers - line", class:"img-responsive line-separator" %>
    </div>
  </div>
</div>
