---
title: Trident Freedivers - Freediving courses
---

<section id="freedive-page">
  <div class="container page-container" id="freedive-container">
    <div class="title">
      <h1 class="main-title">Freediving</h1>
      <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1559053652/line_yellow.png", alt: "Trident Freedivers - line", class:"img-responsive line-separator" %>
    </div>
    <div class="freedive-courses">
      <div class="card" id="card1">
        <div class="card-top">
          <h3>PADI certification course <br> <small>(2 days)</small></h3>
          <p class="course-price">$ 250 / person</p>
          <hr class="separator">
        </div>
        <ul>
          <li><i class="fas fa-check"></i> Static apnea</li>
          <li><i class="fas fa-check"></i> Dynamic apnea</li>
          <li><i class="fas fa-check"></i> Deep freediving</li>
        </ul>
        <%= link_to "Book", "contact.html", class:"btn-round btn-book btn-card" %>
      </div>
      <div class="card" id="card2">
        <div class="card-top">
          <h3>Freediving course <br> <small>(1 day)</small></h3>
          <p class="course-price">$ 150 / person</p>
          <hr class="separator">
        </div>
        <ul>
          <li><i class="fas fa-check"></i> Static apnea</li>
          <li><i class="fas fa-check"></i> Deep freediving</li>
        </ul>
        <%= link_to "Book", "contact.html", class:"btn-round btn-book btn-card" %>
      </div>


    </div>
    <div class="fun-dives">
      <p>We offer also a full range of fun dives from <strong class="red-highlight">$35 to $150</strong>.<br>
      Freediving on <strong class="red-highlight">sunked shipwrecks, with turtles or even at night</strong>. <br>
      Contact us for more details. <br>
      (Available on Request if minimum numbers of participants are met).</p>
    </div>
  </div>
</section>
<section class="freedive-infos">
  <div class="container">
    <div class="title">
      <h2 class="sub-title">What you will learn?</h2>
      <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1559053652/line_yellow.png", alt: "Trident Freedivers - line", class:"img-responsive line-separator" %>
    </div>
    <p>The PADI freediver course (level one) runs over two days and this is where I teach all the 'Black Magic' as I
      call it. 🙂 <br>
      We cover everything from breathing techniques to recovery, rescue, equalisation and much more. This course is a
      full two days from about 9.30am to approx 2pm. <br>
      The course fee includes full gear rental and I take photos with a Gopro during the course. <br>
      You will receive the online learning materials for all 3 PADI freediver courses to read through (or watch the
      videos if you dont feel like reading! Thanks padi...😉) and will get a PADI certified freediver card that you can
      use world wide and also then you will qualify to take level two with PADI or with any other Freediving school
      (SSI, Apnea Academy, Apnea Total...etc).</p>
    <p>On the course we will do Static (holding your breath for time, Dynamic Freediving (going for distance) and
      Deepfreediving (going for depth). <br>
      I also run a one day freediving course that is a condensed version of the two day course this is without the PADI
      certification. This course will cover: static and deep freediving but not dynamic. Equalization, breathing
      techniques as well as rescue will all be covered but not in as much depth as on the two day course. <br>
      Usually both courses finish with a fun dive on the ship wrecks of Carlisle Bay on the way back to the beach!
    </p>
  </div>
</section>
