---
title: Trident Freedivers -  Diving adventures in barbados on one breath
---
<section id="home-page">
  <div class="banner" style="background-image: url(https://res.cloudinary.com/dsr9bgg8i/image/upload/v1558355683/HomePage_egylnm.jpg);"></div>
  <div class="home-container">
    <h1 class="main-title ml2">Let's go diving</h1>
    <%= link_to "Book Now", "#modalBookingForm", "data-toggle" => "modal", class: "btn-round btn-book" %>
  </div>
  <div class="social-links">
    <p>Follow us on</p>
    <a href="https://www.facebook.com/tridentfreedivers/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/tridentfreedivers/?hl=en" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
  </div>
</section>
<section class="tours">
  <div class="container">
    <div class="title">
      <h1 class="main-title">Our Tours</h1>
      <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1559053652/line_yellow.png", alt: "Trident Freedivers - line", class:"img-responsive line-separator" %>
    </div>
    <div class="cards-tours">
		  <div class="flip-card" ontouchstart="this.classList.toggle('hover');">
        <% link_to "freediving.html", class:"card-link" do %>
			  <div class="card-inner">
			    <div class="front"
			      style="background-image: url(https://res.cloudinary.com/dsr9bgg8i/image/upload/v1559137491/line_dive.jpg)">
			      <div class="inner">
			        <p>Freediving</p>
            </div>
			    </div>
			    <div class="back">
			      <div class="inner">
              <p class="course-title">One Day Course</pc>
              <p class="price-tag">$ 150 /person</p>
              <hr class="separator">
              <p class="course-title">Two Days Course <br> <small>(PADI certification)</small></p>
              <p class="price-tag">$ 250 /person</p>
              <hr class="separator">
              <p class="course-title">Fun Dives  <br> <small>(Ship wreks, Marine life, Night dive)</small> </p>
              <p class="course-title" id="fun-dive"></p>
              <p class="price-tag">$ 35 - 150 /person</p>
			      </div>
          </div>
        </div>
        <% end %>
      </div>
			<div class="flip-card" ontouchstart="this.classList.toggle('hover');">
        <% link_to "spearfishing.html", class:"card-link" do %>
			  <div class="card-inner">
			    <div class="front"
			      style="background-image:
			      url(https://res.cloudinary.com/dsr9bgg8i/image/upload/v1558355457/Page5wahoo_qi7fef.jpg)">
			      <div class="inner">
			        <p>Spearfishing</p>
			      </div>
			    </div>
			    <div class="back">
			      <div class="inner">
              <p class="course-title">Coastal Spearfishing Tour</pc>
              <p class="price-tag">$ 110 /person</p>
              <hr class="separator">
              <p class="course-title">Blue Water Spearfishing Tour</p>
              <p class="price-tag">$ 250 /person</p>
              <hr class="separator">
              <p class="course-title">Spearfishing @ Night</p>
              <p class="price-tag">$ 150 /person</p>
			      </div>
			    </div>
        </div>
        <% end %>
      </div>
			<div class="flip-card" ontouchstart="this.classList.toggle('hover');">
        <% link_to "underwater_photo.html", class:"card-link" do %>
			  <div class="card-inner">
			    <div class="front"
			      style="background-image:
			      url(https://res.cloudinary.com/dsr9bgg8i/image/upload/v1558356627/Page4_aelrnn.jpg)">
			      <div class="inner">
			        <p>Underwater Photography</p>
			      </div>
			    </div>
			    <div class="back">
			      <div class="inner">
              <p class="course-title">Underwater Photography Tour</pc>
              <p class="price-tag">$ 150 /person</p>
			      </div>
			    </div>
			  </div>
        <% end %>
			</div>
    </div>
  </div>
</section>
