---
title: Trident Freedivers - Home
---
<div class="home-page">
  <div class="banner" style="background-image: url(https://res.cloudinary.com/dsr9bgg8i/image/upload/v1558355683/HomePage_egylnm.jpg);">
    <div class="container home-container">
      <h1 class="main-title">Let's go diving</h1>
      <%= link_to "Book Now", "#", class:"btn-round btn-book" %>
    </div>
    <div class="social-links">
      <p>Follow us on</p>
      <a href="https://www.facebook.com/tridentfreedivers/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/tridentfreedivers/?hl=en" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</div>
