---
title: Trident Freedivers -  Diving adventures in barbados on one breath
---
<section class="home-page">
  <div class="banner" style="background-image: url(https://res.cloudinary.com/dsr9bgg8i/image/upload/v1558355683/HomePage_egylnm.jpg);"></div>
  <div class="home-container">
    <h1 class="main-title">Let's go diving</h1>
    <%= link_to "Book Now", "contact.html", class:"btn-round btn-book" %>
  </div>
  <div class="social-links">
    <p>Follow us on</p>
    <a href="https://www.facebook.com/tridentfreedivers/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/tridentfreedivers/?hl=en" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
  </div>
</section>
<section class="tours">
  <div class="container">
    <h1 class="main-title">Our Tours</h1>
    <div class="cards-tours">


      <div class="card-category"
        style="background-image: url(https://res.cloudinary.com/dsr9bgg8i/image/upload/v1558355455/pic1_yqbmsu.jpg)">
        Freediving
      </div>
      <div class="card-category"
        style="background-image: url(https://res.cloudinary.com/dsr9bgg8i/image/upload/v1558355457/Page5wahoo_qi7fef.jpg)">
        Spearfishing
      </div>

      <div class="card-category"
        style="background-image: url(https://res.cloudinary.com/dsr9bgg8i/image/upload/v1558356627/Page4_aelrnn.jpg)">
        Underwater Photography
      </div>

    </div>
  </div>
</section>
