---
title: Trident Freedivers -  Diving adventures in barbados on one breath
---
<section id="home-page">
  <div class="banner"
    style="background-image: url(https://res.cloudinary.com/dsr9bgg8i/image/upload/q_100/v1561743347/HomePage.jpg);">
    </div>
  <div class="home-container">
    <h1 class="main-title ml2">Let's go diving</h1>
    <div>
      <%= link_to "Book Now", "#modalBookingForm", "data-toggle" => "modal", class: "btn-round btn-book" %>
    </div>
  </div>
  <div class="social-links">
    <p>Follow us on</p>
    <a href="https://www.facebook.com/tridentfreedivers/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/tridentfreedivers/?hl=en" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
  </div>
</section>
<section class="tours">
  <div class="container">
    <div class="title">
      <h1 class="main-title">Our Tours</h1>
      <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1559053652/line_yellow.png", alt: "Trident Freedivers - line", class:"img-responsive line-separator" %>
    </div>
    <div class="cards-tours">
      <div class="flip-card">
        <div class="card-inner">
          <div class="front"
            style="background-image: url(https://res.cloudinary.com/dsr9bgg8i/image/upload/v1561744901/card-freedive.jpg)">
            <div class="inner">
              <p class="card-title">Freediving</p>
              <div class="touch-flip-hint">
                <p>( touch to flip card )</p>
              </div>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p class="course-title">One Day Course</pc>
              <p class="price-tag">$ 150 /person</p>
              <hr class="separator">
              <p class="course-title">Two Days Course <br> <small>(PADI certification)</small></p>
              <p class="price-tag">$ 250 /person</p>
              <hr class="separator">
              <p class="course-title">Fun Dives  <br> <small>(Ship wreks, Marine life, Night dive)</small> </p>
              <p class="course-title" id="fun-dive"></p>
              <p class="price-tag">$ 35 - 150 /person</p>
              <% link_to "freediving.html", class:"learn-more-link" do %>
                <span>Learn More</span>
                <svg width="13px" height="8px" viewBox="0 0 13 10">
                  <path d="M1,5 L11,5"></path>
                  <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
              <% end %>
            </div>
          </div>
        </div>
      </div>
			<div class="flip-card">
        <div class="card-inner">
          <div class="front" style="background-image: url(https://res.cloudinary.com/dsr9bgg8i/image/upload/v1561744553/card-spear2.jpg )">
            <div class="inner">
              <p class="card-title">Spearfishing</p>
              <div class="d-lg-none touch-flip-hint">
                <p>( touch to flip card )</p>
              </div>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p class="course-title">Coastal Spearfishing Tour</pc>
              <p class="price-tag">$ 110 /person</p>
              <hr class="separator">
              <p class="course-title">Blue Water Spearfishing Tour</p>
              <p class="price-tag">$ 250 /person</p>
              <hr class="separator">
              <p class="course-title">Spearfishing @ Night</p>
              <p class="price-tag">$ 150 /person</p>
              <% link_to "spearfishing.html", class:"learn-more-link" do %>
                <span>Learn More</span>
                <svg width="13px" height="8px" viewBox="0 0 13 10">
                  <path d="M1,5 L11,5"></path>
                  <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
              <% end %>
            </div>
          </div>
        </div>
      </div>
			<div class="flip-card">
        <div class="card-inner">
          <div class="front"
            style="background-image:
            url(https://res.cloudinary.com/dsr9bgg8i/image/upload/v1561741636/card-underwater.jpg)">
            <div class="inner">
              <p class="card-title">Underwater Photography</p>
              <div class="d-lg-none touch-flip-hint">
                <p>( touch to flip card )</p>
              </div>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p class="course-title">Underwater Photography Tour</pc>
              <p class="price-tag">$ 150 /person</p>
              <% link_to "underwater_photo.html", class:"learn-more-link" do %>
                <span>Learn More</span>
                <svg width="13px" height="8px" viewBox="0 0 13 10">
                  <path d="M1,5 L11,5"></path>
                  <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
              <% end %>
            </div>
          </div>
        </div>
			</div>
    </div>
  </div>
</section>
