---
title: Trident Freedivers - Spearfishing Tours
---

<div id="spearfishing-page">
  <div class="container page-container" id="sprearo-wrapper">
    <div class="title">
      <h1 class="main-title">Spearfishing</h1>
      <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1559053652/line_yellow.png", alt: "Trident Freedivers - line", class:"img-responsive line-separator" %>
    </div>
    <div class="spear-tours">
      <div class="card" id="">
        <div class="card-top">
          <h3>Coastal Tour</h3>
          <p class="course-price">$ 110 / person</p>
          <p class="red-highlight exp-disclaimer"><strong>No experience required</strong></p>
          <hr class="separator">
        </div>
        <ul>
          <li><i class="fas fa-check"></i>All gears included</li>
          <li><i class="fas fa-check"></i>Instruction and safety demonstration</li>
          <li><i class="fas fa-check"></i>Photos of the tour</li>
        </ul>
        <%= link_to "Book", "contact.html", class:"btn-round btn-book btn-card" %>
      </div>
    </div>
  </div>
</div>
