---
title: Trident Freedivers - Spearfishing Tours
---

<div id="spearfishing-page">
  <div class="container-fluid page-container" id="sprearo-wrapper">
    <div class="title">
      <h1 class="main-title">Spearfishing</h1>
      <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1559053652/line_yellow.png", alt: "Trident Freedivers - line", class:"img-responsive line-separator" %>
    </div>
    <div class="spear-tours">
      <div class="card" id="card-left">
        <div class="card-top">
          <h3>Coastal Tour</h3>
          <hr class="separator">
          <p class="course-price">$ 110 / person</p>
          <p class="red-highlight exp-disclaimer"><strong>No experience required</strong></p>
          <hr class="separator">
        </div>
        <ul>
          <li><i class="fas fa-check"></i>All gears included</li>
          <li><i class="fas fa-check"></i>Instruction and safety demonstration</li>
          <li><i class="fas fa-check"></i>Photos of the tour</li>
        </ul>
        <%= link_to "Book Now", "contact.html", class:"btn-round btn-book" %>
      </div>
      <div class="card" id="card-right">
        <div class="card-top">
          <h3>Blue water Tour</h3>
          <p class="course-price">$ 250 / person</p>
          <p class="red-highlight exp-disclaimer"><strong>Experienced spearo's only</strong></p>
          <hr class="separator">
        </div>
        <ul>
          <li><i class="fas fa-check"></i>All gears included</li>
          <li><i class="fas fa-check"></i>Instruction and safety demonstration</li>
          <li><i class="fas fa-check"></i>Photos of the tour</li>
        </ul>
        <%= link_to "Book Now", "contact.html", class:"btn-round btn-book" %>
      </div>
    </div>
          <div class="card" id="card-bottom">
            <div class="card-top">
              <h3>Spearfishing at night</h3>
              <p class="course-price">$ 150 / person</p>
              <p class="red-highlight exp-disclaimer"><strong>Experienced spearo's only</strong></p>
              <hr class="separator">
            </div>
            <p>Not Afraid of the dark?
              Come to dive with us under the magic stars of the Barbados sky...
              Text to put explaining the tour.
              Lorem Lorem lorem Lorem Lorem lorem Lorem Lorem loremLorem Lorem loremLorem Lorem loremLorem Lorem
              loremLorem Lorem loremLorem Lorem loremLorem Lorem loremLorem Lorem loremLorem Lorem </p>
            <%= link_to "Book Now", "contact.html", class:"btn-round btn-book" %>
          </div>
  </div>
</div>
