---
title: Trident Freedivers - Underwater Photo Package
---
<div id="underwater-page">
  <div class="container page-container">
    <div class="title">
      <h1 class="main-title">Underwater Photography</h1>
      <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1559053652/line_yellow.png", alt: "Trident Freedivers - line", class:"img-responsive line-separator" %>
    </div>
    <div class="underwater-tour">
      <div class="card" id="photo-card">
        <div class="card-top">
          <h3>Photography Tour</h3>
          <p class="course-price">$ 150 / person</p>
          <p class="red-highlight exp-disclaimer"><strong>Single, couples or Groups</strong></p>
          <hr class="separator">
        </div>
        <p>Come to dive and return with beautiful, professional quality pictures of your underwater adventures.</p>
        <ul>
          <li><i class="fas fa-check"></i>All gears included</li>
          <li><i class="fas fa-check"></i>Instruction and safety demonstration</li>
          <li><i class="fas fa-check"></i>Photos taken with professional camera</li>
        </ul>
        <%= link_to "Book Now", "#modalBookingForm", "data-toggle" => "modal", class: "btn-round btn-card" %>
      </div>
    </div>
  </div>
</div>
