---
title: Trident Freedivers - Underwater Photo Package
---
<section>
  <div id="underwater-page">
    <div class="container page-container">
      <div class="title">
        <h1 class="main-title">Underwater Photography</h1>
        <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1559053652/line_yellow.png", alt: "Trident Freedivers - line", class:"img-responsive line-separator" %>
      </div>
      <div class="underwater-tour">
        <div class="card" id="photo-card">
          <div class="card-top">
            <h3>Photography Tour</h3>
            <p class="course-price">$ 150 / person</p>
            <p class="red-highlight exp-disclaimer"><strong>Single, couples or Groups</strong></p>
            <hr class="separator">
          </div>
          <p>Come to dive and return with beautiful, professional quality pictures of your underwater adventures.</p>
          <ul>
            <li><i class="fas fa-check"></i>All gears included</li>
            <li><i class="fas fa-check"></i>Instruction and safety demonstration</li>
            <li><i class="fas fa-check"></i>Photos taken with professional camera</li>
          </ul>
          <%= link_to "Book Now", "#modalBookingForm", "data-toggle" => "modal", class: "btn-round btn-card" %>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="gallery-section">
    <div class="container gallery-container">
      <div class="title">
        <h1 class="main-title">Gallery</h1>
        <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1559053652/line_yellow.png", alt: "Trident Freedivers - line", class:"img-responsive line-separator" %>
      </div>
      <p id="sell-text">Underwater images available for purchase - Print & License to use. <br>
      <%= link_to "Contact us", "contact.html", class:"contact-link" %> for more information.
      </p>


        <div class="masonry">
            <div class="brick">
              <img src="../assets/img/2.jpg" alt="Cherry plant" title="Cherry plant">
            </div>
            <div class="brick">
              <img src="../assets/img/4.jpg" alt="Oranges and Pomegranates" title="Oranges and Pomegranates">
            </div>
            <div class="brick">
              <img src="../assets/img/9.jpg" alt="Strawberry" title="Strawberry">
            </div>
            <div class="brick">
              <img src="../assets/img/4.jpg" alt="Blueberries" title="Blueberries">
            </div>
            <div class="brick">
              <img src="../assets/img/6.jpg" alt="Pears" title="Pears">
            </div>
            <div class="brick">
              <img src="../assets/img/7.jpg" alt="Easter-eggs" title="Easter-eggs">
            </div>
            <div class="brick">
              <img src="../assets/img/3.jpg" alt="Lemons" title="Lemons">
            </div>
            <div class="brick">
              <img src="../assets/img/6.jpg" alt="Cherries" title="Cherries">
            </div>
            <div class="brick">
              <img src="../assets/img/8.jpg" alt="Grapes" title="Grapes">
            </div>
          </div><!-- .masonry -->






    </div>
  </div>
</section>
